.comp-weather {
    &.container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        min-height: 200px;
    }
    &.component {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MuiCircularProgress-root {
        margin: 0 auto;
    }

    .app-instructions {
        color: $color__font-blue;
    }

    .temp-symbol {
        color: orange;
    }
}
