.comp-weather {
    &.container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .MuiCircularProgress-root {
        margin: 0 auto;
    }

    .app-instructions {
        color: $color__font-blue;
    }
}
