.App-header {
    height: 250px;
    font-size: calc(10px + 1vmin);
    color: $color__font-main;
    margin: 1rem;
    position: relative;

    .logo {
        svg {
            max-height: 150px;
        }

        @media (prefers-reduced-motion: no-preference) {
            animation: App-logo-spin infinite 20s linear;
        }
    }

    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .toast-span {
        color: orange;
        text-decoration: underline;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .App-header {
        overflow: hidden;

        .logo {
            svg {
                max-height: none;
                width: 75%;
            }
        }
    }
}
