.comp-layout {
    background-color: $color__layout-background;
    color: $color__font-main;

    &.container {
        display: flex;
        justify-content: space-evenly;
        flex-flow: column nowrap;
        height: 100vh;
        margin: 1rem;
    }

    &.body {
        min-height: 300px;
    }
}
